<body>
        <div class="container">
            <% include ../tpl/nav %>   
            <% include ../tpl/bread %>
            <form id="form" action="/api/books/add" method="post" enctype="multipart/form-data"> 
                <div class="form-group">
                    <label for="title">书名</label>
                    <input value="<%=book.title%>" name="title" type="text" class="form-control title" id="title" placeholder="">
                </div>
                <div class="form-group">
                    <label for="author">作者</label>
                    <input value="<%=book.author%>" name="author" type="text" class="form-control author" id="author" placeholder="">
                </div>
                <div class="form-group">
                    <label for="description">描述</label>
                    <textarea name="description" id="description" class="form-control description" rows="2"><%=book.description%></textarea>
                </div>
                <div class="form-group">
                    <label for="file">上传电子书</label>
                    <input name="file" type="file" id="file"><span><%=book.url%></span>
                    <p class="help-block">请上传pdf文件</p>
                </div>
                <input id="book_id" type="hidden" value="<%=book.id%>" />
                <button type="submit" class="btn btn-default btn_submit">修改</button>
            </form>
        </div>
        <% include ../tpl/script %>
        <script>

            $('.btn_submit').on('click', function (e) {
                e.preventDefault();
                var input = document.getElementById('file');
                
                var obj = {};

                var data = new FormData();
                data.append('url', input.files[0]);
                data.append('id', $('#book_id').val());
                data.append('title', $('#title').val());
                data.append('author', $('#author').val());
                data.append('description', $('#description').val());
                $.ajax({
                    url: '/api/books/edit',
                    type: 'POST',
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.code == 200) {
                            location.href = '/books'
                        } else {
                            alert(data.message || '新增失败')
                        }
                    }
                });
            });
        </script>
    </body>